body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    color: #fff;
    font-size: 13.5px;
    font-weight: 400;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

a {
    color: #fff;
}

img {
    width: 100%;
    height: auto;
}

.links {
    display: none;
}

.nav__container {
    background-color: #000000;
    background-image: radial-gradient(#d3d3d3 .1px, transparent 0);
    background-size: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    font-size: 14px;
    
    

    .left__container {
        display: flex;
        align-items: center;
        gap: 4rem;

        .logo {
            width: 10rem;
            margin-left: 8px;
        }
    }

    .right__container {
        display: flex;
        align-items: center;
        gap: 4rem;

        .login-signup_container {
            display: flex;
            gap: 1.5rem;
        }

        .purchase__container {
            background-color: #8A9A5B;
            width: 15rem;
            height: 4rem;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            padding-top: 1.3rem;
        }
    }
}